<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="./stylesheets/sign.css">
</head>
<body>
<div class="auth-container">
    <h1 class="auth-title">SIGN IN</h1>
    <form class="auth-form" action="#" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Sign In</button>
    </form>
    <p class="auth-switch">
        Don't have an account? <a href="sign-up.html">Sign Up here</a>
    </p>
</div>
</body>
</html>
